.index .caption button {
    transition-duration: 0.3s;
}

.index .caption button:hover {
    background-color: #f3d10f
}

.index .figures {}

.index .figures:before {
    animation-name: arrow;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.index .figures:after {
    animation-name: arrow;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.services_wrapper .laying .video_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.services_wrapper .laying .video_wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3)
}

.services_wrapper .laying video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.services_wrapper h1.animated,
.index h1.animated {
    animation-duration: 1s;
    animation-delay: 0.5s;
}

.main_nav .menu_active_black a {
    border-bottom: 1px dashed #000;
}


/* slide_preview_active*/

.gallery .screen_slider {
    min-height: 615px;
}

.gallery_wrapper .slider .previews .slick-current {}

.gallery .screen_slider .slider .previews .slick-current {
    background-color: #fff;
}

.gallery .screen_slider .slider .previews .slick-current img {
    opacity: 0.5;
}

.gallery_wrapper .slider .previews .slide_preview {
    width: 125px;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.gallery_wrapper .slider .previews .slide_preview img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery .screen_slider .screen_slider_points {
    bottom: 45px;
    width: 1px;
    background-color: #4d4d4d;
}

.gallery .screen_slider .screen_slider_points li {
    left: -2px;
    margin-bottom: 40px;
    /*dots as tabs*/
}

.gallery .screen_slider .screen_slider_points li:after {
    display: none;
    /*dots as tabs*/
}

.gallery .screen_slider .screen_slider_points div.active_screen {
    position: absolute;
    z-index: 1;
    margin-left: -21px;
    top: 0;
    margin-top: -15px;
    left: 0;
    width: 42px;
    height: 30px;
    background-image: url("../img/logo.png");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: 0.3s;
}


/*.gallery .screen_slider .screen_slider_points li {
    height: 45px;
    background-color: transparent;
    margin-left: -21px;
    margin-bottom: 0;
}

.gallery .screen_slider .screen_slider_points li:after {
    width: 5px;
    height: 5px;
    left: 19px;
    top: 0;
    cursor: pointer;
    background-color: #4d4d4d;
}

.gallery .screen_slider .screen_slider_points .slick-active {
    position: relative;
    z-index: 1;
    margin-left: -21px;
    width: 42px;
    background-image: url("../img/logo.png");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: transparent;
}

.gallery .screen_slider .screen_slider_points .slick-active:after {
    display: none;
}

.screen_slider_points button {
    background-color: transparent;
    font-size: 0;
    border: none;
}

.screen_slider_points button:focus {
    outline: none;
}*/

.gallery .screen_slider .slider .slide .twentytwenty-handle {
    position: absolute;
    left: 24%;
    height: 100%;
    width: 2px;
    background-color: #fff;
    top: 0;
    bottom: 0;
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
}

.gallery .screen_slider .slider .slide .twentytwenty-handle::before {
    content: 'до';
    position: absolute;
    top: 25px;
    left: -65px;
    width: 65px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    margin: 0;
    box-shadow: none;
}

.gallery .screen_slider .slider .slide .twentytwenty-handle::after {
    content: 'после';
    position: absolute;
    top: 25px;
    width: 65px;
    height: 30px;
    background-color: #fff;
    text-align: center;
    margin: 0;
    box-shadow: none;
}

.twentytwenty-before-label,
.twentytwenty-after-label,
.twentytwenty-left-arrow,
.twentytwenty-right-arrow {
    display: none;
}

.twentytwenty-overlay:hover {
    background: transparent
}

.gallery .screen_slider .slide_description {
    height: auto;
}

.gallery .screen_slider .slide_description ul {
    padding-bottom: 60px;
}

.gallery .screen_slider .slide_description button {
    transition: 0.3s
}

.gallery .screen_slider .slide_description button:hover {
    background-color: black;
    color: white;
}

.gallery .slider {
    left: 0;
}

.gallery .slide_description {
    right: 0;
}

.gallery .slide_view {
    max-height: 500px;
    overflow: hidden;
}

.blog_wrapper .slider .bullets {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.blog_wrapper .slider .bullets li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 3px;
}

.blog_wrapper .slider .bullets li button {
    outline: none;
    background-color: transparent;
    font-size: 0;
    border: none;
}

.blog_wrapper .slider .bullets .slick-active {
    background-color: #fff;
}

.sidebar_news .switch button:nth-of-type(2) {
    position: relative;
    left: 1.5%;
}

.best .sidebar_slider .bullets {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.best .sidebar_slider .bullets li button {
    outline: none;
    background-color: transparent;
    font-size: 0;
    border: none;
}

.best .sidebar_slider .bullets li {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #f2f2f2;
    cursor: pointer;
    margin: 0 3px;
}

.best .sidebar_slider .bullets .slick-active {
    background-color: #efb607;
}

.blog_wrapper .bottom_menu {
    position: relative;
    /*overflow: visible;*/
}

.blog_wrapper .bottom_menu .opened_menu {
    /*display: none;*/
    height: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: none;
    transition: 0.3s;
}

.blog_wrapper .bottom_menu .opened_menu.active {
    /*display: block;*/
    height: 370px;
}

.blog_wrapper .bottom_menu .side_menu {
    position: absolute;
    left: 0;
    top: 25px;
}

.opened_menu__news__wrapper {
    display: none;
    width: 100%;
    box-sizing: border-box;
    padding-left: 275px;
}

.opened_menu__news__wrapper.active {
    display: block;
}

.bottom_menu .opened_menu .opened_menu__news__wrapper .opened_menu_news {
    width: 30%;
    overflow: hidden;
    margin-right: 3%;
    height: auto;
}

.blog_wrapper .fresh_news,
.blog_wrapper .popular_news {
    display: none;
}

.blog_wrapper .fresh_news.active,
.blog_wrapper .popular_news.active {
    display: block;
}

.blog_wrapper .sidebar_news .switch .active {
    background-color: #fff;
    font-family: 'Didact Gothic';
    font-weight: bold;
}

.google_map {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.contact_page .google_map:after {
    content: '';
    background-color: #2d2e30;
    position: absolute;
    top: -1000px;
    right: 1000px;
    bottom: 0;
    transform: rotate(30deg);
    width: 2000px;
    height: 3000px;
}

.contact_wraper {
    position: relative;
    z-index: 1
}

.services_wrapper .map {
    position: relative;
    z-index: 1
}

.services_wrapper .services_content_wrapper {
    position: relative;
}

@media all and (max-width: 1000px) {
    .menu_inline li a {
        color: white !important;
    }
    .menu_active_black {
        padding-top: 20px !important;
        border-top: 0px !important;
    }
    .screen_slider_points {
        left: -15px !important;
        display: block !important
    }
}

@keyframes arrow {
    0% {
        margin-top: 0px
    }
    100% {
        margin-top: 10px
    }
}
