.consult_modal {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    .modal_wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 900px;
        height: 400px;
        padding-top: 90px;
        padding-right: 40px;
        padding-bottom: 30px;
        padding-left: 30px;
        background-color: transparent;
        transform: translate(-50%, -50%);
        overflow: hidden;
        @media (max-width: 1000px) {
            width: 90%;
           // height: auto;
            min-height: 450px;
            padding-top: 50px;
            padding-right: 0;
            padding-left: 0;
        }
        .figure10 {
            z-index: 1;
        }
        .white_field {
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            top: 30px;
            bottom: 30px;
        }
        h1 {
            font-family: Bold;
            width: 330px;
            margin-bottom: 15px;
            font-size: $fs36;
            line-height: 38px;
            text-transform: uppercase;
            @media (max-width: 1000px) {
                width: 90%;
                margin: 0 auto;
                margin-bottom: 15px;
                text-align: center;
                font-size: $fs24;
            }
        }
        p {
            color: #666666;
            @media (max-width: 1000px) {
                text-align: center;
                padding: 0 5%;
               margin-bottom: 50px;
                color: #000;
            }
        }
        form {
            z-index: 2;
            position: relative;
            height: 100%;
            .consult_text {
                float: left;
                @media (max-width: 1000px) {
                        float: none;
                    }
            }
            .consult_fields {
                float: right;
                @media (max-width: 1000px) {
                        float: none;
                    }
            }
           
            &::after {
                content: '';
                display: block;
                clear: both;
               
            }
            .input {
                position: relative;
                margin-bottom: 20px;
                &:before {
                    position: absolute;
                    z-index: 1;
                    width: 103px;
                    height: 23px;
                    border-right: 1px solid #cccccc;
                    padding-left: 15px;
                    font-size: $fs14;
                    top: 50%;
                    padding-top: 4px;
                    transform: translateY(-50%);
                    box-sizing: border-box;
                    font-family: Regular;
                    @media (max-width: 1000px) {
                        display: none;
                    }
                }
                &:nth-of-type(1):before {
                    content: 'Ваше имя:'
                }
                &:nth-of-type(2):before {
                    content: 'Телефон:';
                }
                
            }
            input[type=text] {
                width: 394px;
                height: 52px;
                padding-left: 125px;
                border: 1px solid #e3e3e3;
                outline: none;
                @media (max-width: 1000px) {
                    width: 90%;
                    padding-left: 0;
                    text-align: center;
                }
                &::placeholder {
                    color: #000;
                    font-size: $fs14;
                    font-family: Medium;
                }
                @media (max-width: 1000px) {
                     display: block;
                    margin: auto;
                    }
            }
            input[type=submit] {
                position: absolute;
                left: 50%;
                bottom: 20px;
                width: 244px;
                height: 52px;
                border: 2px solid #000;
                background-color: transparent;
                transform: translatex(-50%);
                cursor: pointer;
                font-family: Medium;
                transition: $trans;
                &:hover {
                    background-color: #000;
                    color: white;
                }
                @media (max-width: 1000px) {
                    width: 90%;
                }
            }
        }
        .close_modal {
            position: absolute;
            top: 15px;
            right: 15px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            z-index: 2;
            &::before {
                content: '';
                position: absolute;
                top: -5px;
                right: 13px;
                width: 1px;
                height: 35px;
                background-color: #000;
                transform: rotate(-45deg);
            }
            &::after {
                content: '';
                position: absolute;
                top: -5px;
                right: 13px;
                width: 1px;
                height: 35px;
                background-color: #000;
                transform: rotate(45deg);
            }
        }
    }
}
