.pages {
	text-align: center;
	margin-bottom: 20px;

	ul {

		li {
			display: inline-block;
			color: #fff;
			cursor: pointer;
            transition: $trans;
            &:hover {background-color: black;
            color: white;}
		}

		.page {
			display: inline-block;
			width: 40px;
			height: 40px;
			background-color: #fff;
			color: #666666;
			text-align: center;
			line-height: 40px;

			@media (max-width: 1000px) {
				margin-bottom: 10px;
			}
		}

		.page_arrow {
			width: 80px;

			@media (max-width: 1000px) {
				width: 100%;
			}
		}

		.active {
			background-color: #efb607;
            &:hover {background-color: #efb607;
            color: #666666;}
		}
	}
} 