.share {
    padding: 25px 20px;
    margin-bottom: 20px;
    font-size: 0;
    h3 {
        font-size: $fs20;
        margin-bottom: 20px;
    }
    a {
        display: inline-block;
        margin-right: 15px;
        
    }
    img {
        height: 48px;
        width: 150px;
    }
    @media (max-width: 1000px) {
        a {
            display: inline-block;
            margin: 0 2.5%;
             width: 20%;
             
        }
        img {
           width: 100%;
            height: auto;
        }
        
    }
}
