.variants {
	ul {
		text-align: center;
		position: relative;
		&:after {
			display: block;
			content: '';
			clear: both;
		}
		li {
			width: 33.3%;
			display: block;
			border: 2px solid #2d2e30;
			text-align: left;
			float: left;
			transition: $trans;
			@media (max-width: 1000px) {
				width: 49.5%;
			}
			@media (max-width: 700px) {
				width: 100%;
			}
			&:hover a {
				color: white;
				.variant:before {
					background-color:  #efb607;
				}
			}
			&:first-child {
				background-color: #efb607;
				&:hover {
					background-color: black;
				}
			}
			&:nth-of-type(2) {
				background-color: #f8c423;
				&:hover {
					background-color: black;
				}
			}
			&:nth-of-type(3) {
				background-color: #f8c423;
				&:hover {
					background-color: black;
				}
			}
			&:nth-of-type(4) {
				background-color: #ffe138;
				&:hover {
					background-color: black;
				}
			}
			&:nth-of-type(5) {
				background-color: #f7d826;
				&:hover {
					background-color: black;
				}
			}
			&:last-child {
				background-color: #f3d10f;
				&:hover {
					background-color: black;
				}
			}
			a {
				.variant {
					position: relative;
					height: 200px;
					padding: 60px 65px;
					padding-right: 30px;
					@media (min-width: 1600px) {
						height: 12.5vw;
						padding: 4vw;
					}
					&::before {
						content: '';
						position: absolute;
						top: 35px;
						left: 30px;
						width: 110px;
						height: 110px;
						background-image: url('../img/figure_variants.png');
						transition: $trans;
						@media (min-width: 1600px) {
							top: 2.5vw;
							left: 2vw;
							width: 7vw;
							height: 7vw;
							background-size: 100%;
						}
					}
					span {position: relative;
						display: block;
						font-size: $fs16;
						@media (min-width: 1600px) {
							font-size: 1vw;
						}
						&:nth-of-type(1) {
							font-family: 'Didact Gothic';
							font-weight: bold;
							font-size: $fs24;
							@media (min-width: 1600px) {
								font-size: 1.5vw;
							}
						}
					}
				}
			}
		}
	}
}
